@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: rgb(238, 238, 238);
  justify-content: left;
  text-align: center;
  overflow: scroll;
  display: flex;
  height: 100vh;
  width: 100vw;
}
.MenuBar {
  background: bisque;
  height: inherit;
  max-width: 30vw;
}

.Contents{
  align-content: center;
  width: 90vw;
  height: inherit;
}

.bar {
  height: 100vh;
}

.TopMenuBarBox {
  max-width: inherit;
}



