@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  /*background: rgb(238, 238, 238);*/
  background: rgb(238, 238, 238);

  justify-content: left;
  text-align: center;
  overflow: hidden;
  display: flex;
  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
}
.MenuBar {
  background: bisque;
  height: inherit;
  max-width: 30vw;
}

.Contents{
  overflow: scroll;
  align-content: center;
  width: 90vw;
  max-height: inherit;
  margin-left: 50px;
  margin-right: 50px;
}

.bar {
  height: 100vh;
}

.TopMenuBarBox {
  max-width: inherit;
}

.TableContent {
  align-content: center;
  max-width: 90vw;
  overflow: auto;
}




