@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: rgb(238, 238, 238);
  justify-content: left;
  text-align: center;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
  display: flex;
}
.MenuBar {
  background: bisque;
  height: inherit;
  max-width: 18vw;
}

.Contents{
  background: rgb(238,238,238);
  max-width: 90vw;
  height: inherit;
}

.bar {
  height: 100vh;
}

.TopMenuBarBox {
  background: beige;
  max-width: inherit;
  /*@apply col-start-1 row-start-1 row-span-1;*/
}

.SideMenuBarBox{
  height: 100vh;
  max-width: 50vw;
  background: aquamarine;
}


