
.MessageButton {
    border: 1px solid #a2a4a6;
    border-radius: 20px;
    width: 23vw;
    height: 10vw;
    cursor: pointer;
    font-size: 11px;
    padding: 0px 10px;
    display: flex;
    text-align: left;
    color: #838787;
    margin-top: 10px;
    overflow: auto;
    margin-left: 1vh;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
}

.MessageButton::-webkit-scrollbar {
    display: none;
}

.MessageButton:hover {
    background: #f3f7f7;
}

