
.Popup {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 95%;
    display: -webkit-box;
    margin-left: auto;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.NoPopup {
    visibility: hidden;
}

.PopupCard {
    position: relative;
    margin: auto;
    background-color: rgb(255,255,255);
    height: 80%;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.Close {
    position: absolute;
    top: 0px;
    float: right;
}

.Edit {
    position: absolute;
    top: 0px;
    float: right;
}

.Popup-profile {
    position: absolute;
    height: 12.5vw;
    width: 12.5vw;
    background-color: #838dea;
    border-radius: 50%;
    top: 0vw;
    left: 0vw;
    margin: 3vw;
}

.Popup-name {
    position: absolute;
    font-size: 3.5vw;
    font-weight: 500;
    color: black;
    left: 18vw;
    margin-top: 2vw;
}

.Popup-position {
    position: absolute;
    font-size: 1.5vw;
    font-weight: 200;
    color: #101d92;
    left: 18vw;
    margin-top: 6.5vw;
}

.Location {
    position: absolute;
    left: 18vw;
    margin-top: 9vw;
    height: 1.75vw;
}

.Location h2 {
    position: relative;
    font-size: 1vw;
    font-weight: 500;
    color: #bdbdbd;
    left: 1.5vw;
    top: 0.1vw;
}

.LeadList {
    position: absolute;
    background-color:rgb(234, 232, 232);
    height: 1.5vw;
    width: 15vw;
    top: 16.5vw;
    left: 2vw;
    font-size: 1vw;
    font-weight: 450;
    font-style: italic;
    border-radius: 3px;
    color: gray;
    text-align: center;
}

.Work {
    position: absolute;
    background-color: #101d9200;
    height: 1.5vw;
    width: 16vw;
    top: 18.5vw;
    left: 2vw;
}

.Work h2 {
    position: absolute;
    font-size: 0.9vw;
    font-weight: 700;
    color: #bdbdbd;
    float: left;
}

.Work img {
    position: relative;
    float: left;
    top: 0.9vw;
    left: 3.25vw;
    background-color: #bdbdbd;
    height: 0.1vw;
    width: 12.5vw;
}

.WorkContent {
    background-color: aqua;
    height: 20vw;
    width: 26vw;
    position: absolute;
    top: 20.5vw;
    left: 2vw;
}




