.SideMenuBar{
    height: inherit;
    display: flex;
    justify-content: left;
    width: inherit;
    background: rgb(255,255,255);
}

.SideMenuBarAlwaysEnabled {
    background: rgb(255,255,255);
    height: inherit;
    width: 5vw;
    box-shadow: 0 0 10px #ccc;
}

.SideBarIconExpandedContent {
    visibility: visible;
    width: 25vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.NoExpansion{
    visibility: hidden;
    width: 0;
}

.SideBarIcon {
}