.SideMenuBar{
    height: inherit;
    display: flex;
    justify-content: left;
    background: rgb(255,255,255);
}

.SideMenuBarAlwaysEnabled {
    background: rgb(255,255,255);
    height: inherit;
    width: 10vw;
    box-shadow: 0 0 10px #ccc;
}

.SideBarIconExpandedContent {
    visibility: visible;
    width: 20vw;
    background: rgb(2, 255, 255);
}

.NoExpansion{
    visibility: hidden;
    width: 0;
}