.TopMenuBarBox {
    width: calc(100%);
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.TopMenuBar{
    height: calc(100%);
    width: calc(75%);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px #ccc;
    justify-content: center;
    display: flex;
}

.TopBarContent {
    height: 7vh;
}

.TopBarDefaultContent {
    height: 0;
    visibility: hidden;
    width: inherit;
}

.TopBarExpandedContent {
    visibility: visible;
    height: 15vh;
    width: inherit;
    background: inherit;
}

.TopBarDropDownSelection {
    height: 3vh;
    width: inherit;
    display: flex;
    align-content: center;
}

.TopBarDropDownButton {
    align-content: center;
    display: flex;
    height: 2vh;
}
.DropDownIcon {
    align-content: center;
    width: 5vh;
    height: inherit;
}